<!DOCTYPE html>

<html>
{{> head}}
<body>

<form name="execute" method="get" action="{{executePath}}">
    <p>Введите текст</p>

    <input type="text" name="text" placeholder="Текст">
    <input type="text" name="username" placeholder="Имя">

    <p><input type="submit" value="Отправить"></p>
</form>

{{> footer}}
</body>
</html>